<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <div class ="form-control" style="margin: 0 auto; align-items: center; width: 50%; padding-top: 5%;">
       <form action="" method="POST" accept-charset="utf-8" style="max-width: 50rem;">
           <h3 style="text-align: center;color: purple; font-size: 2rem;">Change Password</h3>
           <div class ="form-group" style="display:flex;">
               <div style="width: 11rem;">
                   <label>Current Password</label>
               </div>
               <div style="width: 30rem;">
                   <input type="text" name="" style="width: 100%;" placeholder="Current Password">
               </div>
           </div>
           <br>
           <div style="display:flex;">
               <div style="width: 11rem;">
                   <label>New Password</label>
               </div>
               <div style="width: 30rem;">
                   <input type="text" name="" style="width: 100%;" placeholder="New Password">
                   <br>
                   <p style="font-size: 1rem;">New Password should be <span style="color:green">minimum 8 characters</span> long (along with <b>letter,number and one upper case</b> letter). </p>
               </div>
           </div>
           <br>
           <div style="display:flex;">
               <div style="width: 11rem;">
                   <label>Confirm New Password</label>
               </div>
               <div style="width: 30rem;">
                   <input type="text" name="" style="width: 100%;" placeholder="Confirm Password">
                   <br>
                   <p style="font-size: 1rem;">New Password should be <span style="color:green">minimum 8 characters</span> long (along with <b>letter,number and one upper case</b> letter). </p>
               </div>
           </div>
           <div>
               <br>
               <div style="text-align: center;">
                   <button type="button" style="border-radius: 0.5rem;background: purple;color: white; padding:8px 15px;font-size: 1rem;">Save</button>
               </div>
               <div>
                   <br><br>
                   
                   
                   <h4 style="color:purple;text-align: center;">Developed & Maintained by Office of IT,NSU</h4>
               </div>
           </div>
       </form>
   </div>
</body>

</html>